/* Elementos gerais */
body {
    background-color: rgba(215, 233, 255, 0.88);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 98%;
}

.divisao {
    background: #333;
    display: flex;
    position: absolute;
    height: 30px;
    width: 102%;
    top: 12%;
}

.pagina_principal {
    display: flex;
    width: 100%;
    height: 100%;
}

.barra-lateral_esquerda {
    background-color: #FFFFFF;
    padding: 20px;
    width: 240px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.barra-lateral_esquerda h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.barra-lateral_esquerda ul {
    list-style-type: none;
    padding: 0;
}

.barra-lateral_esquerda ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.barra-lateral_esquerda ul li img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.barra-lateral_esquerda ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
}

.barra-lateral_esquerda ul li a:hover {
    color: #007BFF;
}

.pesquisa {
    background: #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 10px;
    padding: 10px 15px;
    width: 25%;
    margin-right: 20px;
    font-size: 14px;
}

.pesquisa input {
    border: none;
    width: 300px;
}

.pesquisa i {
    margin-left: 10px;
}

.usuario_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #F7F7F7;
    width: 100%;
    position: relative;
    top: 0;
}

.usuario_info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.usuario_info p {
    margin: 0;
    font-size: 16px;
}
