<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório - Sistema de Gerenciamento de Estoque</title>
    <link rel="stylesheet" href="/static/css/Relatorio.css">
    <link rel="stylesheet" href="/static/css/estilos_principal.css">
</head>
<body>
    <header>
        <p>Vendas do Verão</p>
        <div id="vendas">
            <div class="status_venda">
                <p>143.3k</p>
                <p>Today's Sale</p>
            </div>
            <div class="status_venda">
                <p>$250,423</p>
                <p>Yearly Total Sales</p>
            </div>
            <div class="status_venda">
                <p>$68.9k</p>
                <p>Net Income</p>
            </div>
            <div class="status_venda">
                <p>343</p>
                <p>Products</p>
            </div>
        </div>
        <div id="dados_usuario">
            <img src="../imagens/Name.png" alt="Bryan Doe">
            <div id="dados_usuario_nomes">
                <h1>Bryan Doe <br></h1>
                <p>Admin</p>
            </div>
        </div>
    </header>
    <div class="pagina">
        <div id="conteudo">
            <div id="Caixa_op">
                <div>
                    <h1>Relatorios</h1>
                    <button class="btn">Print Reports</button>
                </div>
                <div class="relatorios_ops">
                    <button> </button>
                    <p>Balancete</p>
                </div>
                <div class="relatorios_ops">
                    <button> </button>
                    <p>Fluxo de caixa</p>
                </div>
                <div class="relatorios_ops">
                    <button> </button>
                    <p>DRE</p>
                </div>
                <div class="relatorios_ops">
                    <button> </button>
                    <p>Relatorio de recebimentos</p>
                </div>
                <div class="relatorios_ops">
                    <button> </button>
                    <p>Relatorio de Recebimentos</p>
                </div>
            </div>
            <div id="visualizacoes">
                <div id="rel_desenpenho">
                    <p>Relatorio de desenpenho(Principais Fornecedores)</p>

                </div>
            </div>
        </div>
        <div class="barra_lateral">
            <ul>
                <h1> Geral</h1>
                <li><a href="../Tela_estoque.html">Relatório</a></li>
                <li><a href="../Tela_estoque.html">Estoque</a></li>
                <li><a href="../Tela_fornecedor_cadastro.html">Fornecedores</a></li>
                <li><a href="../Tela_financeiro.html">Financeiro</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
