<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="/estilos_principal.css">
    <link rel="stylesheet" href="estilo_estoque.css">
    <link rel="stylesheet" href="https://cdnjs.
    .com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    
</head>
<body>
    <header>
        <p>Estoque</p>
        <div class="pesquisa_caixa">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" name="pesquisa" placeholder="pesquisa...">
        </div>

        <button class="btn"> <i class="fa-solid fa-circle-plus"></i> Adicionar Produto</button>

        <div id="dados_usuario">
            <img src="../imagens/Name.png" alt="Bryan Doe">
            <div id="dados_usuario_nomes">
                <h1>Usuario <br></h1>
                <p>admin</p>
            </div>
        </div>
    </header>
    <div class="divisao"></div>
    <div class="pagina">
        <div class="lista_de_produtos">
            <h1>Lista de Produtos</h1>
            <table>
                <thead>
                    <tr>
                        <th scope="col"> Nome</th>
                        <th scope="col"> Codigo</th>
                        <th scope="col"> Preço</th>
                        <th scope="col"> Quantidade</th>
                        <th scope="col"> Imagem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Produto</th>
                        <td>Codigo</td>
                        <td>Preço</td>
                        <td>Quantidade</td>
                        <td><img src="" alt=""></td>
                    </tr>
                    <tr>
                        <th scope="row">Produto</th>
                        <td>Codigo</td>
                        <td>Preço</td>
                        <td>Quantidade</td>
                        <td><img src="" alt=""></td>
                    </tr>
                    <tr>
                        <th scope="row">Produto</th>
                        <td>Codigo</td>
                        <td>Preço</td>
                        <td>Quantidade</td>
                        <td><img src="" alt=""></td>
                    </tr>
                    <tr>
                        <th scope="row">Produto</th>
                        <td>Codigo</td>
                        <td>Preço</td>
                        <td>Quantidade</td>
                        <td><img src="" alt=""></td>
                    </tr>
                    <tr>
                        <th scope="row">Produto</th>
                        <td>Codigo</td>
                        <td>Preço</td>
                        <td>Quantidade</td>
                        <td><img src="" alt=""></td>
                    </tr>
                    <tr>
                        <th scope="row">Produto</th>
                        <td>Codigo</td>
                        <td>Preço</td>
                        <td>Quantidade</td>
                        <td><img src="" alt=""></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div id="barra_lateral">
            <ul>
                <h1> Geral</h1>

                <li> <i class="fa-solid fa-border-all" href="/relatorio.html"></i>
                    <a href="/relatorio.html">Relatório</a></li>
                <li><i class="fa-solid fa-box"></i>
                    <a href="/estoque/,estoque_3.html">Estoque</a></li>
                </li>
                <li><i class="fa-solid fa-truck"></i>
                    <a href="/fornecedor/Tela_fornecedor_cadastro.html">Fornecedor</a></li>
                </li>
                <li><i class="fa-solid fa-chart-line"></i>
                    <a href="/Telas_financeiro/Tela_financeiro.html">Financeiro</a></li>
                </li>
            </ul>
        </div>
    </div>






</body>
</html>