<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="/static/css/estilo_unificado.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <header>
        <p>Estoque</p>
        <div class="pesquisa">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" name="pesquisa" placeholder="pesquisa...">
        </div>

        <button class="btn btn-large" id="btnAdicionarProduto"> <i class="fa-solid fa-circle-plus"></i> Adicionar Produto</button>
        <button class="btn btn-large" id="btnAdicionarCategoria"> <i class="fa-solid fa-circle-plus"></i> Adicionar Categoria</button>

        <div id="dados_usuario">
            <img src="../imagens/Name.png" alt="Bryan Doe">
            <div id="dados_usuario_nomes">
                <h1>Usuario <br></h1>
                <p>admin</p>
            </div>
        </div>
    </header>
    <div class="divisao"></div>
    <div class="pagina">
        <!-- Conteúdo principal -->
        <div class="meio">
            <h1>Lista de Produtos</h1>
            <div id="tabela-pagi">
                <div class="table-container table-scroll">
                    <table>
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>Produto</th>
                                <th>id</th>
                                <th>Categoria</th>
                                <th>Quantidade</th>
                                <th>Preço</th>
                                <th>imagem</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Macbook Pro</td>
                                <td>#0001</td>
                                <td>Laptop</td>
                                <td>1</td>
                                <td>$1,241</td>
                                <td><a href="#">Ver Fatura</a></td>
                            </tr>
                            <!-- Outros produtos -->
                        </tbody>
                    </table>
                </div>
                <h2>Atividades Recentes</h2>
                <div id="vendas">
                    <div class="status_venda">
                        <p></p>
                        <p></p>
                        <img src="" alt="">
                    </div>
                    <!-- Outras atividades -->
                </div>
            </div>
        </div>
        <!-- Barra lateral para links -->
        <div class="barra_lateral">
            <ul>
                <h1>Geral</h1>
                <li><a href="/relatorio">Relatório</a></li>
                <li><a href="/estoque">Estoque</a></li>
                <li><a href="/fornecedor">Fornecedor</a></li>
                <li><a href="/financeiro">Financeiro</a></li>
            </ul>
        </div>
    </div>

    <!-- Modal de criação de categoria -->
    <div id="modalCategoria" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Crie uma categoria</h2>
            <label for="categoria">Categoria</label>
            <input type="text" id="categoria" name="categoria">
            <button id="salvarCategoria">Salvar</button>
        </div>
    </div>

    <script src="/static/js/cadastros.js"></script>
</body>
</html>
