<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="/static/css/estilo_estoque.css">


    <link rel="stylesheet" href="/static/css/estilos_principal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <div class="divisao"> </div>
    <div class="pagina_principal">

        <!-- Conteúdo Principal -->
        <div id="conteudo_principal">
            <div id="usuario_info">
                <div class="pesquisa">
                    <input type="search" name="pesquisa" placeholder="pesquisa...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <img src="imagens/avatar.png" alt="Bryan Doe">
                <p>Bryan Doe <br> Admin</p>
            </div>

            
            
            <!-- Área onde o gráfico será gerado pelo back-end -->
        
        <main>
            <h1 class="title">Lista de produtos</h1>
            <div class="product-list">
            <table>
              <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Image</th>
                    </tr>
             </thead>
                <tbody>
                    <tr>
                        <td>Macbook Pro</td>
                        <td>#0001</td>
                        <td>Laptop</td>
                        <td>$1,241</td>
                        <td>44</td>
                        <td><div class="product-image" style="background-image: url('https://cdn.usegalileo.ai/sdxl10/c4dffc00-551e-483c-bb1d-b7918f611e04.png');"></div></td>
                    </tr>
                    <tr>
                        <td>iPhone 14 pro</td>
                        <td>#0002</td>
                        <td>Phone</td>
                        <td>$1,499</td>
                        <td>23</td>
                        <td><div class="product-image" style="background-image: url('https://cdn.usegalileo.ai/sdxl10/78ed3d88-cd8d-4dbf-8dab-cf6bf329941c.png');"></div></td>
                    </tr>
                </tbody>
          </table>
        </main>
            </div>

            <!-- Parte Geral (Menu lateral) -->
            <div id="geral">
                <ul>
                    <h1> Geral</h1>

                    <li>
                        <a href="../Tela_estoque.html">Relatório</a></li>
                    <li>
                        <a href="../Tela_estoque.html">Estoque</a></li>
                    </li>
                    <li>
                        <a href="../Tela_fornecedor_cadastro.html">Fornecedor</a></li>
                    </li>
                    <li>
                        <a href="../Tela_financeiro.html">Financeiro</a></li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
